@import 'src/styles/fonts';
@import 'src/styles/colors';
@import 'src/styles/mixins';

.skill__card {
    margin: 1em;
    height: 300px;
    .skill__icon {
        text-align: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        img {
            width: 6em;
            color: $primary-color;
        }
    }
    .skill__title {
        text-align: center;
        font-family: $font-helvetica;
        font-size: 18px;
        color: $primary-color;
    }
    .skill__description {
        margin: 2em;
        text-align: justify;
    }
}