<div class="pf-cards-container">
  <div class="pf-card secondary-shadow">
    <div class="pf-card-title">
      <h3>Esto es el título</h3>
      <div class="underline bg-primary"></div>
    </div>
    <div class="pf-card-body primary">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="pf-card-footer">
      <div class="pf-card-actions">
        <button type="button" class="pf-button secondary-outlined mr-1">
          Cancelar
        </button>
        <button type="button" class="pf-button primary-filled">Aceptar</button>
      </div>
    </div>
  </div>
</div>
