<div class="main__welcome">
  <div class="navbar__welcome">
    <pf-main-toolbar></pf-main-toolbar>
  </div>
  <div class="header__welcome">
    <div class="polygon__welcome"></div>
    <div class="container__welcome">
      <div class="image__welcome">
        <img
          src="https://pbs.twimg.com/profile_images/1269363692476477445/5GNMXm7-_400x400.jpg"
          alt="Alfonso Salces"
        />
      </div>
      <div class="title__welcome">
        {{ "public.header.presentation" | translate }}
      </div>
    </div>
  </div>
</div>

<div class="pf-container">
  <skills-component [skills]="skills"></skills-component>
</div>
