<div class="main__welcome" #scrollDiv>
  <div class="navbar__welcome">
    <pf-main-toolbar></pf-main-toolbar>
  </div>
  <div class="header__welcome">
    <div class="polygon__welcome"></div>
    <div class="container__welcome">
      <div class="image__welcome">
        <img
          src="https://pbs.twimg.com/profile_images/1269363692476477445/5GNMXm7-_400x400.jpg"
          alt="Alfonso Salces"
        />
      </div>
      <div class="title__welcome">
        {{ "public.header.presentation" | translate }}
      </div>
    </div>
  </div>
</div>

<div class="pf-container">
  <pf-skills [skills]="skills"></pf-skills>
</div>

<div class="primary-filled">
  <pf-technologies [technologies]="technologies"></pf-technologies>
</div>

<div class="pf-container">
  <div class="primary mt-3">
    En 2019 estuve terminé el ciclo superior en Desarrollo de Aplicaciones Multiplataforma.
    Al terminar dicho ciclo, empecé a trabajar en Aicor Consultores Informáticos (lugar donde hice las prácticas).
    Hasta que me llegó una oferta de Grupo Solutio a finales de Noviembre de Grupo Solutio y decidí replantearme mi futuro laboral.
    En Diciembre de 2019 acepté la oferta y viajé hasta Madrid para firmar el contrato y 
    trabajar desde las oficinas de Madrid durante la primera semana.
    Dieron por finalizado mi contrato a finales de Abril de 2020 por la crisis del Coronavirus, por tanto, empecé a buscar otro
    trabajo. Un mes después, después varias entrevistas, tuve dos ofertas en firme así que tuve que decidir donde acabar,
    en una empresa de Málaga o una en Córdoba. Al final terminé en la empresa de Córdoba (Atmira), en la cual estoy actualmente.
  </div>
</div>

<div class="pf-footer bg-primary secondary">
  <div class="pf-container">
    <div class="footer-container">
      Desarrollado por Alfonso Salces 2020©
      <div class="footer-socialmedia">
        <a href="https://twitter.com/AlfonsoSalces" target="_blank">
          <img src="assets/icons/twitter.svg" alt="Enlace Twitter" />
        </a>
        <a href="https://github.com/alfonso-salces" target="_blank">
          <img src="assets/icons/github.svg" alt="Enlace Github"/>
        </a>
      </div>
    </div>
    <div class="footer-body">
      <div class="footer-item">
        Logotipo y favicon realizados por Manuel Fernández 
        <a href="https://twitter.com/NakuFox" target="_blank">
          <img src="assets/icons/twitter.svg" alt="Enlace Twitter Manu Fernandez"/>
        </a>
      </div>
      <div class="footer-item">
        Imágenes de tecnologías y skills - 
        <a href="https://www.flaticon.es/">Flaticon</a> y 
        <a href="https://material.io/resources/icons/?style=baseline">Material Icons</a>
      </div>
    </div>
    <div class="footer-container">
      Parte del footer.
    </div>
  </div>
</div>

<div class="pf-fab" (click)="scrollTop()" *ngIf="showFab">
  <mat-icon>keyboard_arrow_up</mat-icon>
</div>